Source: dhtest
Section: python
Priority: extra
Maintainer: Josh Marshall <catchjosh@gmail.com>
Build-Depends: python, dh-virtualenv, python-dev, libjpeg-dev, debhelper
Standards-Version: 3.9.5

Package: dhtest
Depends: python, libjpeg-dev, ${shlibs:Depends}, ${misc:Depends}
Architecture: any
Description: Testing a dh-virtualenv app
